<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.itsc.project.movie.review.backend.dao.MovieDao">
    <resultMap id="BaseResultMap" type="cc.itsc.project.movie.review.backend.pojo.po.MoviePO">
        <!--@Table movie-->
        <id column="mid" jdbcType="BIGINT" property="mid" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="director" jdbcType="VARCHAR" property="director" />
        <result column="script_writer" jdbcType="VARCHAR" property="scriptWriter" />
        <result column="starring" jdbcType="VARCHAR" property="starring" />
        <result column="release_time" jdbcType="VARCHAR" property="releaseTime" />
        <result column="duration" jdbcType="INTEGER" property="duration" />
        <result column="introduction" jdbcType="VARCHAR" property="introduction" />
        <result column="poster" jdbcType="VARCHAR" property="poster" />
        <result column="status" jdbcType="INTEGER" property="status" />
    </resultMap>
    <sql id="Base_Column_List">
        mid, `name`, director, script_writer, starring, release_time, duration, introduction,
        poster, `status`
    </sql>

    <insert id="insertMovieClassifyList">
        insert into classify(classify) values
        <foreach collection="classifyList" item="classify" separator=",">
        ( #{classify} )
        </foreach>
    </insert>

    <select id="selectAllMovieClassify" resultType="java.lang.String">
        select classify from classify;
    </select>


    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from movie
        where mid = #{mid,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from movie
        where mid = #{mid,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="mid" keyProperty="mid" parameterType="cc.itsc.project.movie.review.backend.pojo.po.MoviePO" useGeneratedKeys="true">
        insert into movie (`name`, director, script_writer,
        starring, release_time, duration,
        introduction, poster, `status`
        )
        values (#{name,jdbcType=VARCHAR}, #{director,jdbcType=VARCHAR}, #{scriptWriter,jdbcType=VARCHAR},
        #{starring,jdbcType=VARCHAR}, #{releaseTime,jdbcType=VARCHAR}, #{duration,jdbcType=INTEGER},
        #{introduction,jdbcType=VARCHAR}, #{poster,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" keyColumn="mid" keyProperty="mid" parameterType="cc.itsc.project.movie.review.backend.pojo.po.MoviePO" useGeneratedKeys="true">
        insert into movie
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="director != null">
                director,
            </if>
            <if test="scriptWriter != null">
                script_writer,
            </if>
            <if test="starring != null">
                starring,
            </if>
            <if test="releaseTime != null">
                release_time,
            </if>
            <if test="duration != null">
                duration,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            <if test="poster != null">
                poster,
            </if>
            <if test="status != null">
                `status`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="director != null">
                #{director,jdbcType=VARCHAR},
            </if>
            <if test="scriptWriter != null">
                #{scriptWriter,jdbcType=VARCHAR},
            </if>
            <if test="starring != null">
                #{starring,jdbcType=VARCHAR},
            </if>
            <if test="releaseTime != null">
                #{releaseTime,jdbcType=VARCHAR},
            </if>
            <if test="duration != null">
                #{duration,jdbcType=INTEGER},
            </if>
            <if test="introduction != null">
                #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="poster != null">
                #{poster,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cc.itsc.project.movie.review.backend.pojo.po.MoviePO">
        update movie
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="director != null">
                director = #{director,jdbcType=VARCHAR},
            </if>
            <if test="scriptWriter != null">
                script_writer = #{scriptWriter,jdbcType=VARCHAR},
            </if>
            <if test="starring != null">
                starring = #{starring,jdbcType=VARCHAR},
            </if>
            <if test="releaseTime != null">
                release_time = #{releaseTime,jdbcType=VARCHAR},
            </if>
            <if test="duration != null">
                duration = #{duration,jdbcType=INTEGER},
            </if>
            <if test="introduction != null">
                introduction = #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="poster != null">
                poster = #{poster,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where mid = #{mid,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="cc.itsc.project.movie.review.backend.pojo.po.MoviePO">
        update movie
        set `name` = #{name,jdbcType=VARCHAR},
        director = #{director,jdbcType=VARCHAR},
        script_writer = #{scriptWriter,jdbcType=VARCHAR},
        starring = #{starring,jdbcType=VARCHAR},
        release_time = #{releaseTime,jdbcType=VARCHAR},
        duration = #{duration,jdbcType=INTEGER},
        introduction = #{introduction,jdbcType=VARCHAR},
        poster = #{poster,jdbcType=VARCHAR},
        `status` = #{status,jdbcType=INTEGER}
        where mid = #{mid,jdbcType=BIGINT}
    </update>

    <insert id="insertBindClassifyList">
        insert into movie_classify(mid, classify) values <foreach collection="classifyList" separator="," item="classify">
            (#{mid},#{classify})
        </foreach>
    </insert>

    <delete id="deleteClassifyByMid">
        delete from movie_classify where mid = #{mid}
    </delete>

    <select id="selectMovieListName" resultMap="BaseResultMap">
         select
        <include refid="Base_Column_List" />
        from movie
        where name like concat('%',#{name},'%')
    </select>

    <select id="selectMovieListByClassify" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from movie where mid in
        (select mid from movie_classify where classify = #{classify})
    </select>

    <select id="selectMovieClassifyByMid" resultType="java.lang.String">
        select mid from movie_classify where mid =#{mid}
    </select>

    <delete id="deleteReviewMovieWithRid">
        delete from movie_review where rid = #{rid}
    </delete>

    <select id="selectAllMovieList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from movie
    </select>


</mapper>